@media screen and (max-width: 699px) and (min-width: 320px) {
	/* for mobile */
	.verticalLine {
		/* margin: 1em;
		border-top: 2px solid #cccccc;*/
	}
	.g-margin-r-20 {
		-webkit-margin-right: -20px;
		-moz-margin-right: -20px;
		-ms-margin-right: -20px;
		-o-margin-right: -20px;
		margin-right: -20px;
	}
	.g-border {
		-webkit-margin-right: 0px;
		-moz-margin-right: 0px;
		-ms-margin-right: 0px;
		-o-margin-right: 0px;
		margin-right: 0px;
	}

	.g-search {
		-webkit-position: absolute;
		-moz-position: absolute;
		-ms-position: absolute;
		-o-position: absolute;
		position: absolute;
		-webkit-top: 120px;
		-moz-top: 120px;
		-ms-top: 120px;
		-o-top: 120px;
		top: 120px;
		-webkit-left: 0;
		-moz-left: 0;
		-ms-left: 0;
		-o-left: 0;
		left: 0;
		-ms-flex-line-pack: center;
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
	}
	#g-btn-search {
		-webkit-height: 40px;
		-moz-height: 40px;
		-ms-height: 40px;
		-o-height: 40px;
		height: 40px;
		-webkit-width: 30%;
		-moz-width: 30%;
		-ms-width: 30%;
		-o-width: 30%;
		width: 30%;
		-webkit-padding-right: 50px;
		-moz-padding-right: 50px;
		-ms-padding-right: 50px;
		-o-padding-right: 50px;
		padding-right: 50px;
		-webkit-border: 2px solid #f18336;
		-moz-border: 2px solid #f18336;
		-ms-border: 2px solid #f18336;
		-o-border: 2px solid #f18336;
		border: 2px solid #f18336;
		-webkit-border-radius: 0px 30px 30px 0px;
		-moz-border-radius: 0px 30px 30px 0px;
		border-radius: 0px 30px 30px 0px;
		-webkit-background-color: #f18336;
		-moz-background-color: #f18336;
		-ms-background-color: #f18336;
		-o-background-color: #f18336;
		background-color: #f18336;
	}

	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		-webkit-margin-bottom: 0px;
		-moz-margin-bottom: 0px;
		-ms-margin-bottom: 0px;
		-o-margin-bottom: 0px;
		margin-bottom: 0px;
		-webkit-width: 65%;
		-moz-width: 65%;
		-ms-width: 65%;
		-o-width: 65%;
		width: 65%;
		-webkit-height: 40px;
		-moz-height: 40px;
		-ms-height: 40px;
		-o-height: 40px;
		height: 40px;
		-webkit-font-size: 15px;
		-moz-font-size: 15px;
		-ms-font-size: 15px;
		-o-font-size: 15px;
		font-size: 15px;
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-border: 2px solid #f18336 !important;
		-moz-border: 2px solid #f18336 !important;
		-ms-border: 2px solid #f18336 !important;
		-o-border: 2px solid #f18336 !important;
		border: 2px solid #f18336 !important;
		-webkit-border-radius: 30px 0px 0px 30px;
		-moz-border-radius: 30px 0px 0px 30px;
		border-radius: 30px 0px 0px 30px;
		-webkit-padding-left: 1.5em;
		-moz-padding-left: 1.5em;
		-ms-padding-left: 1.5em;
		-o-padding-left: 1.5em;
		padding-left: 1.5em;
	}
	/* For Carousel */
	.ant-carousel .slick-slide {
		-webkit-text-align: center;
		-moz-text-align: center;
		-ms-text-align: center;
		-o-text-align: center;
		text-align: center;
		-webkit-height: 300px;
		-moz-height: 300px;
		-ms-height: 300px;
		-o-height: 300px;
		height: 300px;
		-webkit-line-height: 160px;
		-moz-line-height: 160px;
		-ms-line-height: 160px;
		-o-line-height: 160px;
		line-height: 160px;
		-webkit-background: #364d79;
		-moz-background: #364d79;
		-ms-background: #364d79;
		-o-background: #364d79;
		background: #364d79;
		-webkit-overflow: hidden;
		-moz-overflow: hidden;
		-ms-overflow: hidden;
		-o-overflow: hidden;
		overflow: hidden;
	}

	.ant-carousel .slick-slide h3 {
		-webkit-color: #fff;
		-moz-color: #fff;
		-ms-color: #fff;
		-o-color: #fff;
		color: #fff;
	}
	.g-carousel-img {
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
		-webkit-height: 300px;
		-moz-height: 300px;
		-ms-height: 300px;
		-o-height: 300px;
		height: 300px;
	}
	.g-trip-box {
		-webkit-border: 1px dotted #ccc;
		-moz-border: 1px dotted #ccc;
		-ms-border: 1px dotted #ccc;
		-o-border: 1px dotted #ccc;
		border: 1px dotted #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-padding: 5px;
		-moz-padding: 5px;
		-ms-padding: 5px;
		-o-padding: 5px;
		padding: 5px;
		-webkit-margin-bottom: 1em;
		-moz-margin-bottom: 1em;
		-ms-margin-bottom: 1em;
		-o-margin-bottom: 1em;
		margin-bottom: 1em;
	}
	.g-caption {
		-webkit-margin-top: 0;
		-moz-margin-top: 0;
		-ms-margin-top: 0;
		-o-margin-top: 0;
		margin-top: 0;
		-webkit-margin-bottom: 0.5em;
		-moz-margin-bottom: 0.5em;
		-ms-margin-bottom: 0.5em;
		-o-margin-bottom: 0.5em;
		margin-bottom: 0.5em;
		-webkit-color: rgba(0, 0, 0, 0.85);
		-moz-color: rgba(0, 0, 0, 0.85);
		-ms-color: rgba(0, 0, 0, 0.85);
		-o-color: rgba(0, 0, 0, 0.85);
		color: rgba(0, 0, 0, 0.85);
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-display: block;
		-moz-display: block;
		-ms-display: block;
		-o-display: block;
		display: block;
		-webkit-font-size: 22px;
		-moz-font-size: 22px;
		-ms-font-size: 22px;
		-o-font-size: 22px;
		font-size: 22px;
	}
	.g-step-list {
		-webkit-margin: 0px;
		-moz-margin: 0px;
		-ms-margin: 0px;
		-o-margin: 0px;
		margin: 0px;
	}
	.g-step-div {
		-webkit-padding: 0rem;
		-moz-padding: 0rem;
		-ms-padding: 0rem;
		-o-padding: 0rem;
		padding: 0rem;
		-webkit-margin-top: 8px;
		-moz-margin-top: 8px;
		-ms-margin-top: 8px;
		-o-margin-top: 8px;
		margin-top: 8px;
	}
	.g-gallery-list {
		-webkit-width: 50px;
		-moz-width: 50px;
		-ms-width: 50px;
		-o-width: 50px;
		width: 50px;
		-webkit-height: 35px;
		-moz-height: 35px;
		-ms-height: 35px;
		-o-height: 35px;
		height: 35px;
		-webkit-border: 1px solid #ccc;
		-moz-border: 1px solid #ccc;
		-ms-border: 1px solid #ccc;
		-o-border: 1px solid #ccc;
		border: 1px solid #ccc;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
	}
	.g-gallery-list-active {
		-webkit-width: 50px;
		-moz-width: 50px;
		-ms-width: 50px;
		-o-width: 50px;
		width: 50px;
		-webkit-height: 35px;
		-moz-height: 35px;
		-ms-height: 35px;
		-o-height: 35px;
		height: 35px;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
		-webkit-border: 1px solid #f18336;
		-moz-border: 1px solid #f18336;
		-ms-border: 1px solid #f18336;
		-o-border: 1px solid #f18336;
		border: 1px solid #f18336;
	}
	.g-galleryview {
		-webkit-max-height: 220px;
		-moz-max-height: 220px;
		-ms-max-height: 220px;
		-o-max-height: 220px;
		max-height: 220px;
	}
	.g-margin-gallery {
		-webkit-margin-top: 0.8em;
		-moz-margin-top: 0.8em;
		-ms-margin-top: 0.8em;
		-o-margin-top: 0.8em;
		margin-top: 0.8em;
	}
	.g-img {
		-webkit-width: 50px;
		-moz-width: 50px;
		-ms-width: 50px;
		-o-width: 50px;
		width: 50px;
		-webkit-height: 50px;
		-moz-height: 50px;
		-ms-height: 50px;
		-o-height: 50px;
		height: 50px;
	}
	.g-img-box {
		-webkit-padding: 5px;
		-moz-padding: 5px;
		-ms-padding: 5px;
		-o-padding: 5px;
		padding: 5px;
	}
	.g-extra-block{
		-webkit-height: 20px;
		-moz-height: 20px;
		-ms-height: 20px;
		-o-height: 20px;
		height: 20px;
	}
}

 /*end mobile */

@media screen and (max-width: 1000px) and (min-width: 700px) {
	/* for tablet */
	 .verticalLine {
		-webkit-border-left: 2px solid #ccc;
		-moz-border-left: 2px solid #ccc;
		-ms-border-left: 2px solid #ccc;
		-o-border-left: 2px solid #ccc;
		border-left: 2px solid #ccc;
	}
	.g-border {
		-webkit-margin-right: 0px;
		-moz-margin-right: 0px;
		-ms-margin-right: 0px;
		-o-margin-right: 0px;
		margin-right: 0px;
	}
	.g-search {
		-webkit-position: absolute;
		-moz-position: absolute;
		-ms-position: absolute;
		-o-position: absolute;
		position: absolute;
		-webkit-top: 180px;
		-moz-top: 180px;
		-ms-top: 180px;
		-o-top: 180px;
		top: 180px;
		-webkit-left: 0;
		-moz-left: 0;
		-ms-left: 0;
		-o-left: 0;
		left: 0;
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
	}
	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		-webkit-margin-bottom: 0px;
		-moz-margin-bottom: 0px;
		-ms-margin-bottom: 0px;
		-o-margin-bottom: 0px;
		margin-bottom: 0px;
		-webkit-width: 80%;
		-moz-width: 80%;
		-ms-width: 80%;
		-o-width: 80%;
		width: 80%;
		-webkit-height: 54px;
		-moz-height: 54px;
		-ms-height: 54px;
		-o-height: 54px;
		height: 54px;
		-webkit-font-size: 15px;
		-moz-font-size: 15px;
		-ms-font-size: 15px;
		-o-font-size: 15px;
		font-size: 15px;
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-border: 2px solid #f18336 !important;
		-moz-border: 2px solid #f18336 !important;
		-ms-border: 2px solid #f18336 !important;
		-o-border: 2px solid #f18336 !important;
		border: 2px solid #f18336 !important;
		-webkit-border-radius: 30px 0px 0px 30px;
		-moz-border-radius: 30px 0px 0px 30px;
		border-radius: 30px 0px 0px 30px;
		-webkit-padding-left: 1.5em;
		-moz-padding-left: 1.5em;
		-ms-padding-left: 1.5em;
		-o-padding-left: 1.5em;
		padding-left: 1.5em;
	}
	#g-btn-search {
		-webkit-height: 54px;
		-moz-height: 54px;
		-ms-height: 54px;
		-o-height: 54px;
		height: 54px;
		-webkit-padding-right: 50px;
		-moz-padding-right: 50px;
		-ms-padding-right: 50px;
		-o-padding-right: 50px;
		padding-right: 50px;
		-webkit-font-size: 16px;
		-moz-font-size: 16px;
		-ms-font-size: 16px;
		-o-font-size: 16px;
		font-size: 16px;
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-border: 2px solid #f18336;
		-moz-border: 2px solid #f18336;
		-ms-border: 2px solid #f18336;
		-o-border: 2px solid #f18336;
		border: 2px solid #f18336;
		-webkit-border-radius: 0px 30px 30px 0px;
		-moz-border-radius: 0px 30px 30px 0px;
		border-radius: 0px 30px 30px 0px;
		-webkit-background-color: #f18336;
		-moz-background-color: #f18336;
		-ms-background-color: #f18336;
		-o-background-color: #f18336;
		background-color: #f18336;
	}
	/* For Carousel */
	.ant-carousel .slick-slide {
		-webkit-text-align: center;
		-moz-text-align: center;
		-ms-text-align: center;
		-o-text-align: center;
		text-align: center;
		-webkit-height: 380px;
		-moz-height: 380px;
		-ms-height: 380px;
		-o-height: 380px;
		height: 380px;
		-webkit-line-height: 160px;
		-moz-line-height: 160px;
		-ms-line-height: 160px;
		-o-line-height: 160px;
		line-height: 160px;
		-webkit-background: #364d79;
		-moz-background: #364d79;
		-ms-background: #364d79;
		-o-background: #364d79;
		background: #364d79;
		-webkit-overflow: hidden;
		-moz-overflow: hidden;
		-ms-overflow: hidden;
		-o-overflow: hidden;
		overflow: hidden;
	}

	.ant-carousel .slick-slide h3 {
		-webkit-color: #fff;
		-moz-color: #fff;
		-ms-color: #fff;
		-o-color: #fff;
		color: #fff;
	}
	.g-carousel-img {
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
		-webkit-height: 380px;
		-moz-height: 380px;
		-ms-height: 380px;
		-o-height: 380px;
		height: 380px;
	}
	.g-trip-box {
		-webkit-border: 1px dotted #ccc;
		-moz-border: 1px dotted #ccc;
		-ms-border: 1px dotted #ccc;
		-o-border: 1px dotted #ccc;
		border: 1px dotted #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-padding: 5px 10px;
		-moz-padding: 5px 10px;
		-ms-padding: 5px 10px;
		-o-padding: 5px 10px;
		padding: 5px 10px;
		-webkit-margin-bottom: 2em;
		-moz-margin-bottom: 2em;
		-ms-margin-bottom: 2em;
		-o-margin-bottom: 2em;
		margin-bottom: 2em;
	}
	.g-caption {
		-webkit-margin-top: 0;
		-moz-margin-top: 0;
		-ms-margin-top: 0;
		-o-margin-top: 0;
		margin-top: 0;
		-webkit-margin-bottom: 0.5em;
		-moz-margin-bottom: 0.5em;
		-ms-margin-bottom: 0.5em;
		-o-margin-bottom: 0.5em;
		margin-bottom: 0.5em;
		-webkit-color: rgba(0, 0, 0, 0.85);
		-moz-color: rgba(0, 0, 0, 0.85);
		-ms-color: rgba(0, 0, 0, 0.85);
		-o-color: rgba(0, 0, 0, 0.85);
		color: rgba(0, 0, 0, 0.85);
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-display: block;
		-moz-display: block;
		-ms-display: block;
		-o-display: block;
		display: block;
		-webkit-font-size: 25px;
		-moz-font-size: 25px;
		-ms-font-size: 25px;
		-o-font-size: 25px;
		font-size: 25px;
	}
	.g-step-list {
		-webkit-margin: 8px;
		-moz-margin: 8px;
		-ms-margin: 8px;
		-o-margin: 8px;
		margin: 8px;
	}
	.g-step-div {
		-webkit-padding: 0rem;
		-moz-padding: 0rem;
		-ms-padding: 0rem;
		-o-padding: 0rem;
		padding: 0rem;
	}
	.g-gallery-list {
		-webkit-width: 70px;
		-moz-width: 70px;
		-ms-width: 70px;
		-o-width: 70px;
		width: 70px;
		-webkit-height: 70px;
		-moz-height: 70px;
		-ms-height: 70px;
		-o-height: 70px;
		height: 70px;
		-webkit-border: 1px solid #ccc;
		-moz-border: 1px solid #ccc;
		-ms-border: 1px solid #ccc;
		-o-border: 1px solid #ccc;
		border: 1px solid #ccc;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
	}
	.g-gallery-list-active {
		-webkit-width: 70px;
		-moz-width: 70px;
		-ms-width: 70px;
		-o-width: 70px;
		width: 70px;
		-webkit-height: 70px;
		-moz-height: 70px;
		-ms-height: 70px;
		-o-height: 70px;
		height: 70px;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
		-webkit-border: 1.5px solid #f18336;
		-moz-border: 1.5px solid #f18336;
		-ms-border: 1.5px solid #f18336;
		-o-border: 1.5px solid #f18336;
		border: 1.5px solid #f18336;
	}
	.g-galleryview {
		-webkit-max-height: 350px;
		-moz-max-height: 350px;
		-ms-max-height: 350px;
		-o-max-height: 350px;
		max-height: 350px;
	}
	.g-trip-content {
		-webkit-margin-top: 1em;
		-moz-margin-top: 1em;
		-ms-margin-top: 1em;
		-o-margin-top: 1em;
		margin-top: 1em;
	}
	.g-img {
		-webkit-width: 80px;
		-moz-width: 80px;
		-ms-width: 80px;
		-o-width: 80px;
		width: 80px;
		-webkit-height: 80px;
		-moz-height: 80px;
		-ms-height: 80px;
		-o-height: 80px;
		height: 80px;
	}
	.g-margin-t15 {
		-webkit-margin-top: 20px;
		-moz-margin-top: 20px;
		-ms-margin-top: 20px;
		-o-margin-top: 20px;
		margin-top: 20px;
	}
	.g-img-box {
		-webkit-padding: 8px;
		-moz-padding: 8px;
		-ms-padding: 8px;
		-o-padding: 8px;
		padding: 8px;
	}
	.g-extra-block{
		-webkit-height: 50px;
		-moz-height: 50px;
		-ms-height: 50px;
		-o-height: 50px;
		height: 50px;
	} 
}
/* end tablet */
@media screen and (min-width: 1001px) {
	/* for desktop */
	.verticalLine {
		-webkit-border-left: 2px solid #ccc;
		-moz-border-left: 2px solid #ccc;
		-ms-border-left: 2px solid #ccc;
		-o-border-left: 2px solid #ccc;
		border-left: 2px solid #ccc;
	}
	.g-border {
		-webkit-margin-right: 10px;
		-moz-margin-right: 10px;
		-ms-margin-right: 10px;
		-o-margin-right: 10px;
		margin-right: 10px;
	}

	.g-search {
		-webkit-position: absolute;
		-moz-position: absolute;
		-ms-position: absolute;
		-o-position: absolute;
		position: absolute;
		-webkit-top: 200px;
		-moz-top: 200px;
		-ms-top: 200px;
		-o-top: 200px;
		top: 200px;
		-webkit-left: 0;
		-moz-left: 0;
		-ms-left: 0;
		-o-left: 0;
		left: 0;
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
	}

	#g-search-input,
	#g-search-input:hover,
	#g-search-input:focus,
	#g-search-input:active {
		-webkit-margin-bottom: 0px;
		-moz-margin-bottom: 0px;
		-ms-margin-bottom: 0px;
		-o-margin-bottom: 0px;
		margin-bottom: 0px;
		-webkit-width: 80%;
		-moz-width: 80%;
		-ms-width: 80%;
		-o-width: 80%;
		width: 80%;
		-webkit-height: 54px;
		-moz-height: 54px;
		-ms-height: 54px;
		-o-height: 54px;
		height: 54px;
		-webkit-font-size: 15px;
		-moz-font-size: 15px;
		-ms-font-size: 15px;
		-o-font-size: 15px;
		font-size: 15px;
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-border: 2px solid #f18336 !important;
		-moz-border: 2px solid #f18336 !important;
		-ms-border: 2px solid #f18336 !important;
		-o-border: 2px solid #f18336 !important;
		border: 2px solid #f18336 !important;
		-webkit-border-radius: 30px 0px 0px 30px;
		-moz-border-radius: 30px 0px 0px 30px;
		border-radius: 30px 0px 0px 30px;
		-webkit-padding-left: 1.5em;
		-moz-padding-left: 1.5em;
		-ms-padding-left: 1.5em;
		-o-padding-left: 1.5em;
		padding-left: 1.5em;
	}
	#g-btn-search {
		-webkit-height: 54px;
		-moz-height: 54px;
		-ms-height: 54px;
		-o-height: 54px;
		height: 54px;
		-webkit-padding-right: 50px;
		-moz-padding-right: 50px;
		-ms-padding-right: 50px;
		-o-padding-right: 50px;
		padding-right: 50px;
		-webkit-font-size: 16px;
		-moz-font-size: 16px;
		-ms-font-size: 16px;
		-o-font-size: 16px;
		font-size: 16px;
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-border: 2px solid #f18336;
		-moz-border: 2px solid #f18336;
		-ms-border: 2px solid #f18336;
		-o-border: 2px solid #f18336;
		border: 2px solid #f18336;
		-webkit-border-radius: 0px 30px 30px 0px;
		-moz-border-radius: 0px 30px 30px 0px;
		border-radius: 0px 30px 30px 0px;
		-webkit-background-color: #f18336;
		-moz-background-color: #f18336;
		-ms-background-color: #f18336;
		-o-background-color: #f18336;
		background-color: #f18336;
	}
	/* For Carousel */
	.ant-carousel .slick-slide {
		-webkit-text-align: center;
		-moz-text-align: center;
		-ms-text-align: center;
		-o-text-align: center;
		text-align: center;
		-webkit-height: 450px;
		-moz-height: 450px;
		-ms-height: 450px;
		-o-height: 450px;
		height: 450px;
		-webkit-line-height: 160px;
		-moz-line-height: 160px;
		-ms-line-height: 160px;
		-o-line-height: 160px;
		line-height: 160px;
		-webkit-background: #364d79;
		-moz-background: #364d79;
		-ms-background: #364d79;
		-o-background: #364d79;
		background: #364d79;
		-webkit-overflow: hidden;
		-moz-overflow: hidden;
		-ms-overflow: hidden;
		-o-overflow: hidden;
		overflow: hidden;
	}

	.ant-carousel .slick-slide h3 {
		-webkit-color: #fff;
		-moz-color: #fff;
		-ms-color: #fff;
		-o-color: #fff;
		color: #fff;
	}
	.g-carousel-img {
		-webkit-width: 100%;
		-moz-width: 100%;
		-ms-width: 100%;
		-o-width: 100%;
		width: 100%;
		-webkit-height: 450px;
		-moz-height: 450px;
		-ms-height: 450px;
		-o-height: 450px;
		height: 450px;
	}
	.g-trip-box {
		-webkit-border: 1px dotted #ccc;
		-moz-border: 1px dotted #ccc;
		-ms-border: 1px dotted #ccc;
		-o-border: 1px dotted #ccc;
		border: 1px dotted #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-padding: 5px 10px;
		-moz-padding: 5px 10px;
		-ms-padding: 5px 10px;
		-o-padding: 5px 10px;
		padding: 5px 10px;
		-webkit-margin-bottom: 2em;
		-moz-margin-bottom: 2em;
		-ms-margin-bottom: 2em;
		-o-margin-bottom: 2em;
		margin-bottom: 2em;
	}
	.g-caption {
		-webkit-margin-top: 0;
		-moz-margin-top: 0;
		-ms-margin-top: 0;
		-o-margin-top: 0;
		margin-top: 0;
		-webkit-margin-bottom: 0.5em;
		-moz-margin-bottom: 0.5em;
		-ms-margin-bottom: 0.5em;
		-o-margin-bottom: 0.5em;
		margin-bottom: 0.5em;
		-webkit-color: rgba(0, 0, 0, 0.85);
		-moz-color: rgba(0, 0, 0, 0.85);
		-ms-color: rgba(0, 0, 0, 0.85);
		-o-color: rgba(0, 0, 0, 0.85);
		color: rgba(0, 0, 0, 0.85);
		-webkit-font-weight: 500;
		-moz-font-weight: 500;
		-ms-font-weight: 500;
		-o-font-weight: 500;
		font-weight: 500;
		-webkit-display: block;
		-moz-display: block;
		-ms-display: block;
		-o-display: block;
		display: block;
		-webkit-font-size: 30px;
		-moz-font-size: 30px;
		-ms-font-size: 30px;
		-o-font-size: 30px;
		font-size: 30px;
	}
	.g-step-list {
		-webkit-margin: 1em;
		-moz-margin: 1em;
		-ms-margin: 1em;
		-o-margin: 1em;
		margin: 1em;
	}
	.g-step-div {
		-webkit-padding: 0rem;
		-moz-padding: 0rem;
		-ms-padding: 0rem;
		-o-padding: 0rem;
		padding: 0rem;
	}
	.g-gallery-list {
		-webkit-width: 92px;
		-moz-width: 92px;
		-ms-width: 92px;
		-o-width: 92px;
		width: 92px;
		-webkit-height: 72px;
		-moz-height: 72px;
		-ms-height: 72px;
		-o-height: 72px;
		height: 72px;
		-webkit-border: 1px solid #ccc;
		-moz-border: 1px solid #ccc;
		-ms-border: 1px solid #ccc;
		-o-border: 1px solid #ccc;
		border: 1px solid #ccc;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
	}
	.g-gallery-list-active {
		-webkit-width: 92px;
		-moz-width: 92px;
		-ms-width: 92px;
		-o-width: 92px;
		width: 92px;
		-webkit-height: 72px;
		-moz-height: 72px;
		-ms-height: 72px;
		-o-height: 72px;
		height: 72px;
		-webkit-padding: 3px;
		-moz-padding: 3px;
		-ms-padding: 3px;
		-o-padding: 3px;
		padding: 3px;
		-webkit-margin: auto 3px 6px 3px;
		-moz-margin: auto 3px 6px 3px;
		-ms-margin: auto 3px 6px 3px;
		-o-margin: auto 3px 6px 3px;
		margin: auto 3px 6px 3px;
		-webkit-cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor: pointer;
		-o-cursor: pointer;
		cursor: pointer;
		-webkit-border: 1.5px solid #f18336;
		-moz-border: 1.5px solid #f18336;
		-ms-border: 1.5px solid #f18336;
		-o-border: 1.5px solid #f18336;
		border: 1.5px solid #f18336;
	}
	.g-galleryview {
		-webkit-height: 440px;
		-moz-height: 440px;
		-ms-height: 440px;
		-o-height: 440px;
		height: 440px;
	}
	.g-trip-content {
		-webkit-margin-top: 1em;
		-moz-margin-top: 1em;
		-ms-margin-top: 1em;
		-o-margin-top: 1em;
		margin-top: 1em;
	}
	.g-img {
		-webkit-width: 100px;
		-moz-width: 100px;
		-ms-width: 100px;
		-o-width: 100px;
		width: 100px;
		-webkit-height: 100px;
		-moz-height: 100px;
		-ms-height: 100px;
		-o-height: 100px;
		height: 100px;
	}
	.g-margin-t15 {
		-webkit-margin-top: 40px;
		-moz-margin-top: 40px;
		-ms-margin-top: 40px;
		-o-margin-top: 40px;
		margin-top: 40px;
	}
	.g-img-box {
		-webkit-padding: 15px;
		-moz-padding: 15px;
		-ms-padding: 15px;
		-o-padding: 15px;
		padding: 15px;
	}
	.g-extra-block{
		-webkit-height: 100px;
		-moz-height: 100px;
		-ms-height: 100px;
		-o-height: 100px;
		height: 100px;
	}
}
/* end desktop */

.headerLink:hover,
.headerLink:focus {
	-webkit-background-color: #fff;
	-moz-background-color: #fff;
	-ms-background-color: #fff;
	-o-background-color: #fff;
	background-color: #fff;
}
.header-bar {
	-webkit-border-top: 3px solid #f18336;
	-moz-border-top: 3px solid #f18336;
	-ms-border-top: 3px solid #f18336;
	-o-border-top: 3px solid #f18336;
	border-top: 3px solid #f18336;
}
.ant-modal-header {
	-webkit-border-top: 3px solid #f18336;
	-moz-border-top: 3px solid #f18336;
	-ms-border-top: 3px solid #f18336;
	-o-border-top: 3px solid #f18336;
	border-top: 3px solid #f18336;
}
.g-heder,
.g-heder:hover {
	-webkit-padding-left: 20px;
	-moz-padding-left: 20px;
	-ms-padding-left: 20px;
	-o-padding-left: 20px;
	padding-left: 20px;
	-webkit-padding-bottom: 5px;
	-moz-padding-bottom: 5px;
	-ms-padding-bottom: 5px;
	-o-padding-bottom: 5px;
	padding-bottom: 5px;
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-display: inline-block;
	-moz-display: inline-block;
	-ms-display: inline-block;
	-o-display: inline-block;
	display: inline-block;
	-webkit-font-size: 2.1rem;
	-moz-font-size: 2.1rem;
	-ms-font-size: 2.1rem;
	-o-font-size: 2.1rem;
	font-size: 2.1rem;
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}

.g-nav-wrapper {
	-webkit-position: static;
	-moz-position: static;
	-ms-position: static;
	-o-position: static;
	position: static;
	-webkit-height: 100%;
	-moz-height: 100%;
	-ms-height: 100%;
	-o-height: 100%;
	height: 100%;
}
.g-font-color {
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
}

.g-black {
	-webkit-color: black;
	-moz-color: black;
	-ms-color: black;
	-o-color: black;
	color: black;
}

.g-btn,
.g-btn:hover,
.g-btn:focus {
	-webkit-background-color: #f18336;
	-moz-background-color: #f18336;
	-ms-background-color: #f18336;
	-o-background-color: #f18336;
	background-color: #f18336;
	-webkit-color: white;
	-moz-color: white;
	-ms-color: white;
	-o-color: white;
	color: white;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-text-transform: none;
	-moz-text-transform: none;
	-ms-text-transform: none;
	-o-text-transform: none;
	text-transform: none;
	-webkit-border-color: #f18336;
	-moz-border-color: #f18336;
	-ms-border-color: #f18336;
	-o-border-color: #f18336;
	border-color: #f18336;
}

.g-btn-link,
.g-btn-link:hover,
.g-btn-link:focus {
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
	-webkit-text-transform: none;
	-moz-text-transform: none;
	-ms-text-transform: none;
	-o-text-transform: none;
	text-transform: none;
	-webkit-border-color: white;
	-moz-border-color: white;
	-ms-border-color: white;
	-o-border-color: white;
	border-color: white;
	-webkit-margin: -14px;
	-moz-margin: -14px;
	-ms-margin: -14px;
	-o-margin: -14px;
	margin: -14px;
}

.g-btn-g-color,
.g-btn-g-color:hover,
.g-btn-g-color:focus {
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
	-webkit-border-color: #f18336;
	-moz-border-color: #f18336;
	-ms-border-color: #f18336;
	-o-border-color: #f18336;
	border-color: #f18336;
}

span {
	-webkit-padding-right: 5px;
	-moz-padding-right: 5px;
	-ms-padding-right: 5px;
	-o-padding-right: 5px;
	padding-right: 5px;
}

.ant-modal-title {
	-webkit-font-size: x-large;
	-moz-font-size: x-large;
	-ms-font-size: x-large;
	-o-font-size: x-large;
	font-size: x-large;
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
}

.headerDivider {
	-webkit-border-left: 1px solid #38546d;
	-moz-border-left: 1px solid #38546d;
	-ms-border-left: 1px solid #38546d;
	-o-border-left: 1px solid #38546d;
	border-left: 1px solid #38546d;
	-webkit-border-right: 1px solid #16222c;
	-moz-border-right: 1px solid #16222c;
	-ms-border-right: 1px solid #16222c;
	-o-border-right: 1px solid #16222c;
	border-right: 1px solid #16222c;
	-webkit-height: 190px;
	-moz-height: 190px;
	-ms-height: 190px;
	-o-height: 190px;
	height: 190px;
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-right: 249px;
	-moz-right: 249px;
	-ms-right: 249px;
	-o-right: 249px;
	right: 249px;
	-webkit-top: 70px;
	-moz-top: 70px;
	-ms-top: 70px;
	-o-top: 70px;
	top: 70px;
}

.btn-fb,
.btn-fb:hover,
.btn-fb:focus {
	-webkit-padding-left: 3px;
	-moz-padding-left: 3px;
	-ms-padding-left: 3px;
	-o-padding-left: 3px;
	padding-left: 3px;
	-webkit-background-color: #3a5a99;
	-moz-background-color: #3a5a99;
	-ms-background-color: #3a5a99;
	-o-background-color: #3a5a99;
	background-color: #3a5a99;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-margin-top: 10px;
	-moz-margin-top: 10px;
	-ms-margin-top: 10px;
	-o-margin-top: 10px;
	margin-top: 10px;
}

.btn-google {
	-webkit-padding-left: 3px;
	-moz-padding-left: 3px;
	-ms-padding-left: 3px;
	-o-padding-left: 3px;
	padding-left: 3px;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-margin-top: 10px;
	-moz-margin-top: 10px;
	-ms-margin-top: 10px;
	-o-margin-top: 10px;
	margin-top: 10px;
}
.btn-email,
.btn-email:hover,
.btn-email:focus {
	-webkit-padding-left: 3px;
	-moz-padding-left: 3px;
	-ms-padding-left: 3px;
	-o-padding-left: 3px;
	padding-left: 3px;
	-webkit-background-color: #f18336;
	-moz-background-color: #f18336;
	-ms-background-color: #f18336;
	-o-background-color: #f18336;
	background-color: #f18336;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-margin-top: 10px;
	-moz-margin-top: 10px;
	-ms-margin-top: 10px;
	-o-margin-top: 10px;
	margin-top: 10px;
	-webkit-padding-left: 10px;
	-moz-padding-left: 10px;
	-ms-padding-left: 10px;
	-o-padding-left: 10px;
	padding-left: 10px;
	-webkit-border-color: #f18336;
	-moz-border-color: #f18336;
	-ms-border-color: #f18336;
	-o-border-color: #f18336;
	border-color: #f18336;
}
.g-btn-submit,
.g-btn-submit:hover,
.g-btn-submit:focus {
	-webkit-background-color: #f18336;
	-moz-background-color: #f18336;
	-ms-background-color: #f18336;
	-o-background-color: #f18336;
	background-color: #f18336;
	-webkit-border-color: #f18336;
	-moz-border-color: #f18336;
	-ms-border-color: #f18336;
	-o-border-color: #f18336;
	border-color: #f18336;
}

.g-block {
	-webkit-background-color: #eee;
	-moz-background-color: #eee;
	-ms-background-color: #eee;
	-o-background-color: #eee;
	background-color: #eee;
}
.g-border {
	-webkit-border: 1px solid #f18336;
	-moz-border: 1px solid #f18336;
	-ms-border: 1px solid #f18336;
	-o-border: 1px solid #f18336;
	border: 1px solid #f18336;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-color: #fff;
	-moz-background-color: #fff;
	-ms-background-color: #fff;
	-o-background-color: #fff;
	background-color: #fff;
}
.g-spacing {
	-webkit-margin-top: 20px;
	-moz-margin-top: 20px;
	-ms-margin-top: 20px;
	-o-margin-top: 20px;
	margin-top: 20px;
	-webkit-margin-bottom: 20px;
	-moz-margin-bottom: 20px;
	-ms-margin-bottom: 20px;
	-o-margin-bottom: 20px;
	margin-bottom: 20px;
}
.g-color {
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
	-webkit-text-align: center;
	-moz-text-align: center;
	-ms-text-align: center;
	-o-text-align: center;
	text-align: center;
}
.g-card-spacing {
	-webkit-margin: 4px 2px;
	-moz-margin: 4px 2px;
	-ms-margin: 4px 2px;
	-o-margin: 4px 2px;
	margin: 4px 2px;
}
.g-card-img {
	-webkit-height: 100%;
	-moz-height: 100%;
	-ms-height: 100%;
	-o-height: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.g-margin-lr {
	-webkit-margin: auto 1em;
	-moz-margin: auto 1em;
	-ms-margin: auto 1em;
	-o-margin: auto 1em;
	margin: auto 1em;
}
.g-margin-lr4 {
	-webkit-margin: auto 4px;
	-moz-margin: auto 4px;
	-ms-margin: auto 4px;
	-o-margin: auto 4px;
	margin: auto 4px;
}
.g-margin-top-bottom2 {
	-webkit-margin: 2em auto;
	-moz-margin: 2em auto;
	-ms-margin: 2em auto;
	-o-margin: 2em auto;
	margin: 2em auto;
}
.g-box {
	-webkit-padding: 50px 0px 50px 0px;
	-moz-padding: 50px 0px 50px 0px;
	-ms-padding: 50px 0px 50px 0px;
	-o-padding: 50px 0px 50px 0px;
	padding: 50px 0px 50px 0px;
}

.g-footer {
	-webkit-padding: 70px 0px 70px 0px;
	-moz-padding: 70px 0px 70px 0px;
	-ms-padding: 70px 0px 70px 0px;
	-o-padding: 70px 0px 70px 0px;
	padding: 70px 0px 70px 0px;
	-webkit-background-color: #6a6a6a;
	-moz-background-color: #6a6a6a;
	-ms-background-color: #6a6a6a;
	-o-background-color: #6a6a6a;
	background-color: #6a6a6a;
}
.g-copyright {
	-webkit-background-color: #f18336;
	-moz-background-color: #f18336;
	-ms-background-color: #f18336;
	-o-background-color: #f18336;
	background-color: #f18336;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
	-webkit-padding: 3px;
	-moz-padding: 3px;
	-ms-padding: 3px;
	-o-padding: 3px;
	padding: 3px;
	-webkit-text-align: right;
	-moz-text-align: right;
	-ms-text-align: right;
	-o-text-align: right;
	text-align: right;
}
.g-detail {
	-webkit-background-color: #eee;
	-moz-background-color: #eee;
	-ms-background-color: #eee;
	-o-background-color: #eee;
	background-color: #eee;
}

.g-profile {
	-webkit-padding: 0px 5px 0px 5px;
	-moz-padding: 0px 5px 0px 5px;
	-ms-padding: 0px 5px 0px 5px;
	-o-padding: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
}
.g-padding {
	-webkit-padding: 15px 0px 20px 0px;
	-moz-padding: 15px 0px 20px 0px;
	-ms-padding: 15px 0px 20px 0px;
	-o-padding: 15px 0px 20px 0px;
	padding: 15px 0px 20px 0px;
}
.shadow {
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}
.g-star-color {
	-webkit-color: #ecaa00;
	-moz-color: #ecaa00;
	-ms-color: #ecaa00;
	-o-color: #ecaa00;
	color: #ecaa00;
}

.chinese {
	-webkit-background-color: red;
	-moz-background-color: red;
	-ms-background-color: red;
	-o-background-color: red;
	background-color: red;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
}
.g-rate {
	-webkit-color: #ecaa00;
	-moz-color: #ecaa00;
	-ms-color: #ecaa00;
	-o-color: #ecaa00;
	color: #ecaa00;
}

.g-price-box {
	-webkit-background-color: #eee;
	-moz-background-color: #eee;
	-ms-background-color: #eee;
	-o-background-color: #eee;
	background-color: #eee;
	-webkit-padding: 0.5em 0.5em 0.5em 1em;
	-moz-padding: 0.5em 0.5em 0.5em 1em;
	-ms-padding: 0.5em 0.5em 0.5em 1em;
	-o-padding: 0.5em 0.5em 0.5em 1em;
	padding: 0.5em 0.5em 0.5em 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.g-space {
	-webkit-padding-left: 4em;
	-moz-padding-left: 4em;
	-ms-padding-left: 4em;
	-o-padding-left: 4em;
	padding-left: 4em;
}
.g-padding-footer {
	-webkit-padding: auto 1em;
	-moz-padding: auto 1em;
	-ms-padding: auto 1em;
	-o-padding: auto 1em;
	padding: auto 1em;
}
.g-space-3 {
	-webkit-padding-left: 3em;
	-moz-padding-left: 3em;
	-ms-padding-left: 3em;
	-o-padding-left: 3em;
	padding-left: 3em;
}
.g-space-2 {
	-webkit-padding-left: 2em;
	-moz-padding-left: 2em;
	-ms-padding-left: 2em;
	-o-padding-left: 2em;
	padding-left: 2em;
}

.g-space-r1 {
	-webkit-padding-right: 1em;
	-moz-padding-right: 1em;
	-ms-padding-right: 1em;
	-o-padding-right: 1em;
	padding-right: 1em;
}
.g-btn-right {
	-webkit-float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	float: right;
	-webkit-margin-right: 15px;
	-moz-margin-right: 15px;
	-ms-margin-right: 15px;
	-o-margin-right: 15px;
	margin-right: 15px;
}
.g-hr {
	-webkit-margin: 0px;
	-moz-margin: 0px;
	-ms-margin: 0px;
	-o-margin: 0px;
	margin: 0px;
	border-style: double;
	-webkit-border-color: #ccc;
	-moz-border-color: #ccc;
	-ms-border-color: #ccc;
	-o-border-color: #ccc;
	border-color: #ccc;
}

.g-margin {
	-webkit-margin-top: 2em;
	-moz-margin-top: 2em;
	-ms-margin-top: 2em;
	-o-margin-top: 2em;
	margin-top: 2em;
	-webkit-margin-bottom: 1em;
	-moz-margin-bottom: 1em;
	-ms-margin-bottom: 1em;
	-o-margin-bottom: 1em;
	margin-bottom: 1em;
}
.g-margin-r1 {
	-webkit-margin: 0.25em 0.5em 0.25em 0em;
	-moz-margin: 0.25em 0.5em 0.25em 0em;
	-ms-margin: 0.25em 0.5em 0.25em 0em;
	-o-margin: 0.25em 0.5em 0.25em 0em;
	margin: 0.25em 0.5em 0.25em 0em;
}
.g-margin-b1 {
	-webkit-margin-bottom: 0.5em;
	-moz-margin-bottom: 0.5em;
	-ms-margin-bottom: 0.5em;
	-o-margin-bottom: 0.5em;
	margin-bottom: 0.5em;
}
.g-margin-b2 {
	-webkit-margin: 5px auto 2em auto;
	-moz-margin: 5px auto 2em auto;
	-ms-margin: 5px auto 2em auto;
	-o-margin: 5px auto 2em auto;
	margin: 5px auto 2em auto;
}
.g-margin-bb1 {
	-webkit-margin-bottom: 1em;
	-moz-margin-bottom: 1em;
	-ms-margin-bottom: 1em;
	-o-margin-bottom: 1em;
	margin-bottom: 1em;
}

.g-img-view {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
}
.g-margin-1 {
	-webkit-margin: 1em;
	-moz-margin: 1em;
	-ms-margin: 1em;
	-o-margin: 1em;
	margin: 1em;
}

.g-review-header {
	-webkit-margin: 3em 0em 0.5em 0em;
	-moz-margin: 3em 0em 0.5em 0em;
	-ms-margin: 3em 0em 0.5em 0em;
	-o-margin: 3em 0em 0.5em 0em;
	margin: 3em 0em 0.5em 0em;
}
.g-float-r {
	-webkit-float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	float: right;
}
.error {
	-webkit-color: #f31e0e;
	-moz-color: #f31e0e;
	-ms-color: #f31e0e;
	-o-color: #f31e0e;
	color: #f31e0e;
}
.g-margin-t1 {
	-webkit-margin-top: 1em;
	-moz-margin-top: 1em;
	-ms-margin-top: 1em;
	-o-margin-top: 1em;
	margin-top: 1em;
}

.g-width-full {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
}
.g-inline {
	-webkit-display: inline;
	-moz-display: inline;
	-ms-display: inline;
	-o-display: inline;
	display: inline;
}
.g-btn-default {
	-webkit-color: #40a9ff;
	-moz-color: #40a9ff;
	-ms-color: #40a9ff;
	-o-color: #40a9ff;
	color: #40a9ff;
	-webkit-border-color: #40a9ff;
	-moz-border-color: #40a9ff;
	-ms-border-color: #40a9ff;
	-o-border-color: #40a9ff;
	border-color: #40a9ff;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="text"]:not(.ant-select-search__field),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
	font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	padding: 4px 11px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
input:not([type]),
input:not([type]):hover,
input:not([type]):active,
input:not([type]):focus {
	border-bottom: 0.5px solid #fff !important;
	box-shadow: 0 0.5px 0 0 white !important;
	cursor: cell;
	all: unset;
}

input[type="text"]:focus,
input[type="text"]:not(.ant-select-search__field):focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
	border: 0.5px solid #1890ff !important;
	box-shadow: 0 0.5px 0 0 #1890ff !important;
}
input[type="text"]:hover,
input[type="text"]:not(.ant-select-search__field):hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
	border: 0.5px solid #1890ff !important;
	box-shadow: 0 0.5px 0 0 #1890ff !important;
}
.ant-form-item {
	-webkit-margin-bottom: 1px;
	-moz-margin-bottom: 1px;
	-ms-margin-bottom: 1px;
	-o-margin-bottom: 1px;
	margin-bottom: 1px;
}
.g-form-required:after {
	-webkit-display: inline-block;
	-moz-display: inline-block;
	-ms-display: inline-block;
	-o-display: inline-block;
	display: inline-block;
	-webkit-margin-left: 4px;
	-moz-margin-left: 4px;
	-ms-margin-left: 4px;
	-o-margin-left: 4px;
	margin-left: 4px;
	content: "*";
	font-family: SimSun;
	line-height: 1;
	-webkit-font-size: 14px;
	-moz-font-size: 14px;
	-ms-font-size: 14px;
	-o-font-size: 14px;
	font-size: 14px;
	-webkit-color: #f5222d;
	-moz-color: #f5222d;
	-ms-color: #f5222d;
	-o-color: #f5222d;
	color: #f5222d;
}
.g-margin-b0 {
	-webkit-margin-bottom: 0px;
	-moz-margin-bottom: 0px;
	-ms-margin-bottom: 0px;
	-o-margin-bottom: 0px;
	margin-bottom: 0px;
}
.g-margin-r8 {
	-webkit-margin-right: 8px;
	-moz-margin-right: 8px;
	-ms-margin-right: 8px;
	-o-margin-right: 8px;
	margin-right: 8px;
}
.g-margin-r4 {
	-webkit-margin-right: 4px;
	-moz-margin-right: 4px;
	-ms-margin-right: 4px;
	-o-margin-right: 4px;
	margin-right: 4px;
}
.g-trip-img {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
}

.g-remove-underline {
	-webkit-text-decoration: none !important;
	-moz-text-decoration: none !important;
	-ms-text-decoration: none !important;
	-o-text-decoration: none !important;
	text-decoration: none !important;
}

.g-btnAdd {
	-webkit-background-color: #fff;
	-moz-background-color: #fff;
	-ms-background-color: #fff;
	-o-background-color: #fff;
	background-color: #fff;
	-webkit-border: 1px solid #1890ff;
	-moz-border: 1px solid #1890ff;
	-ms-border: 1px solid #1890ff;
	-o-border: 1px solid #1890ff;
	border: 1px solid #1890ff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-height: 30px;
	-moz-height: 30px;
	-ms-height: 30px;
	-o-height: 30px;
	height: 30px;
	color: black;
	text-align: center;
	line-height: 2;
	margin: 3px 3px 3px auto;
}

.g-width30 {
	-webkit-width: 30%;
	-moz-width: 30%;
	-ms-width: 30%;
	-o-width: 30%;
	width: 30%;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
}
.g-width300 {
	-webkit-width: 400px;
	-moz-width: 400px;
	-ms-width: 400px;
	-o-width: 400px;
	width: 400px;
}
.g-width200 {
	-webkit-width: 200px;
	-moz-width: 200px;
	-ms-width: 200px;
	-o-width: 200px;
	width: 200px;
}
.g-margin-t8 {
	-webkit-margin-top: 0.5em;
	-moz-margin-top: 0.5em;
	-ms-margin-top: 0.5em;
	-o-margin-top: 0.5em;
	margin-top: 0.5em;
}
.g-lang-block {
	-webkit-border: 1px solid #1890ff;
	-moz-border: 1px solid #1890ff;
	-ms-border: 1px solid #1890ff;
	-o-border: 1px solid #1890ff;
	border: 1px solid #1890ff;
	-webkit-padding: 7px;
	-moz-padding: 7px;
	-ms-padding: 7px;
	-o-padding: 7px;
	padding: 7px;
	-webkit-margin: 5px 20px 10px 0px;
	-moz-margin: 5px 20px 10px 0px;
	-ms-margin: 5px 20px 10px 0px;
	-o-margin: 5px 20px 10px 0px;
	margin: 5px 20px 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-color: #1890ff;
	-moz-background-color: #1890ff;
	-ms-background-color: #1890ff;
	-o-background-color: #1890ff;
	background-color: #1890ff;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
	width: 44%;
	-webkit-width: 44%;
	-moz-width: 44%;
	-ms-width: 44%;
	-o-width: 44%;
	width: 44%;
	-webkit-height: 40px;
	-moz-height: 40px;
	-ms-height: 40px;
	-o-height: 40px;
	height: 40px;
	-webkit-float: left;
	-moz-float: left;
	-ms-float: left;
	-o-float: left;
	float: left;
	-webkit-line-height: 2;
	-moz-line-height: 2;
	-ms-line-height: 2;
	-o-line-height: 2;
	line-height: 2;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

.g-lang-level {
	-webkit-line-height: 4;
	-moz-line-height: 4;
	-ms-line-height: 4;
	-o-line-height: 4;
	line-height: 4;
}

.g-level-delete {
	-webkit-margin-left: 5px;
	-moz-margin-left: 5px;
	-ms-margin-left: 5px;
	-o-margin-left: 5px;
	margin-left: 5px;
	-webkit-color: #f44336;
	-moz-color: #f44336;
	-ms-color: #f44336;
	-o-color: #f44336;
	color: #f44336;
	-webkit-cursor: pointer;
	-moz-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
	cursor: pointer;
}
.g-level-edit {
	-webkit-margin-left: 5px;
	-moz-margin-left: 5px;
	-ms-margin-left: 5px;
	-o-margin-left: 5px;
	margin-left: 5px;
	-webkit-color: dodgerblue;
	-moz-color: dodgerblue;
	-ms-color: dodgerblue;
	-o-color: dodgerblue;
	color: dodgerblue;
	-webkit-cursor: pointer;
	-moz-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
	cursor: pointer;
}
#g-margin-top5 {
	-webkit-margin-top: 0.5em;
	-moz-margin-top: 0.5em;
	-ms-margin-top: 0.5em;
	-o-margin-top: 0.5em;
	margin-top: 0.5em;
}
.g-carousel {
	-webkit-position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	position: relative;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
}

.ant-form-item-label label:after {
	content: "*";
	-webkit-margin: 0 8px 0 2px;
	-moz-margin: 0 8px 0 2px;
	-ms-margin: 0 8px 0 2px;
	-o-margin: 0 8px 0 2px;
	margin: 0 8px 0 2px;
	-webkit-position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	position: relative;
	-webkit-top: 0px;
	-moz-top: 0px;
	-ms-top: 0px;
	-o-top: 0px;
	top: 0px;
	-webkit-padding-left: 2px;
	-moz-padding-left: 2px;
	-ms-padding-left: 2px;
	-o-padding-left: 2px;
	padding-left: 2px;
	-webkit-color: #f5222d;
	-moz-color: #f5222d;
	-ms-color: #f5222d;
	-o-color: #f5222d;
	color: #f5222d;
}

.ant-form-item-required::before {
	-webkit-display: inline-block;
	-moz-display: inline-block;
	-ms-display: inline-block;
	-o-display: inline-block;
	display: inline-block;
	-webkit-margin-right: 4px;
	-moz-margin-right: 4px;
	-ms-margin-right: 4px;
	-o-margin-right: 4px;
	margin-right: 4px;
	content: "";
	font-family: SimSun;
	-webkit-line-height: 1;
	-moz-line-height: 1;
	-ms-line-height: 1;
	-o-line-height: 1;
	line-height: 1;
}
.ant-form-item-label {
	-webkit-line-height: 25px;
	-moz-line-height: 25px;
	-ms-line-height: 25px;
	-o-line-height: 25px;
	line-height: 25px;
}
.g-step-border {
	-webkit-border: 1px solid #eee;
	-moz-border: 1px solid #eee;
	-ms-border: 1px solid #eee;
	-o-border: 1px solid #eee;
	border: 1px solid #eee;
	-webkit-padding-top: 10px;
	-moz-padding-top: 10px;
	-ms-padding-top: 10px;
	-o-padding-top: 10px;
	padding-top: 10px;
	-webkit-padding-bottom: 10px;
	-moz-padding-bottom: 10px;
	-ms-padding-bottom: 10px;
	-o-padding-bottom: 10px;
	padding-bottom: 10px;
	-webkit-margin: 10px;
	-moz-margin: 10px;
	-ms-margin: 10px;
	-o-margin: 10px;
	margin: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.g-step-img {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-max-height: 250px;
	-moz-max-height: 250px;
	-ms-max-height: 250px;
	-o-max-height: 250px;
	max-height: 250px;
}

#step .clearfix .ant-upload.ant-upload-select-picture-card,
#step .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	-webkit-width: 500px;
	-moz-width: 500px;
	-ms-width: 500px;
	-o-width: 500px;
	width: 500px;
	-webkit-height: 300px;
	-moz-height: 300px;
	-ms-height: 300px;
	-o-height: 300px;
	height: 300px;
	-webkit-margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	margin: auto;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	-o-align-content: center;
	align-content: center;
}
.g-div-align-item-center {
	-webkit-display: grid;
	-moz-display: grid;
	-ms-display: grid;
	-o-display: grid;
	display: grid;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.ant-card-meta-detail {
	-webkit-max-width: 190px;
	-moz-max-width: 190px;
	-ms-max-width: 190px;
	-o-max-width: 190px;
	max-width: 190px;
	-webkit-word-wrap: break-all;
	-moz-word-wrap: break-all;
	-ms-word-wrap: break-all;
	-o-word-wrap: break-all;
	word-wrap: break-all;
}
.ant-card-body {
	-webkit-height: 125px;
	-moz-height: 125px;
	-ms-height: 125px;
	-o-height: 125px;
	height: 125px;
}
.ant-card-meta {
	-webkit-margin: -19px -10px;
	-moz-margin: -19px -10px;
	-ms-margin: -19px -10px;
	-o-margin: -19px -10px;
	margin: -19px -10px;
}

.ant-menu-item-selected {
	-webkit-color: #f18336;
	-moz-color: #f18336;
	-ms-color: #f18336;
	-o-color: #f18336;
	color: #f18336;
}
.fa {
	-webkit-margin-right: 5px;
	-moz-margin-right: 5px;
	-ms-margin-right: 5px;
	-o-margin-right: 5px;
	margin-right: 5px;
}
.g-user-profile {
	-webkit-width: 203px;
	-moz-width: 203px;
	-ms-width: 203px;
	-o-width: 203px;
	width: 203px;
	-webkit-height: 200px;
	-moz-height: 200px;
	-ms-height: 200px;
	-o-height: 200px;
	height: 200px;
	-webkit-border-right: 1px solid #f18336;
	-moz-border-right: 1px solid #f18336;
	-ms-border-right: 1px solid #f18336;
	-o-border-right: 1px solid #f18336;
	border-right: 1px solid #f18336;
}
.g-user-profile-small {
	-webkit-width: 80px;
	-moz-width: 80px;
	-ms-width: 80px;
	-o-width: 80px;
	width: 80px;
	-webkit-height: 200px;
	-moz-height: 200px;
	-ms-height: 200px;
	-o-height: 200px;
	height: 200px;
	-webkit-border-right: 1px solid #f18336;
	-moz-border-right: 1px solid #f18336;
	-ms-border-right: 1px solid #f18336;
	-o-border-right: 1px solid #f18336;
	border-right: 1px solid #f18336;
}
.g-user-profile-div {
	-webkit-margin: 40px 50px 5px 50px;
	-moz-margin: 40px 50px 5px 50px;
	-ms-margin: 40px 50px 5px 50px;
	-o-margin: 40px 50px 5px 50px;
	margin: 40px 50px 5px 50px;
}
.g-user-profile-img {
	-webkit-width: 100px;
	-moz-width: 100px;
	-ms-width: 100px;
	-o-width: 100px;
	width: 100px;
	-webkit-height: 100px;
	-moz-height: 100px;
	-ms-height: 100px;
	-o-height: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-margin-top: 1.5em;
	-moz-margin-top: 1.5em;
	-ms-margin-top: 1.5em;
	-o-margin-top: 1.5em;
	margin-top: 1.5em;
}
.g-user-profile-div-small {
	-webkit-margin: 30px 0px 3px 7px;
	-moz-margin: 30px 0px 3px 7px;
	-ms-margin: 30px 0px 3px 7px;
	-o-margin: 30px 0px 3px 7px;
	margin: 30px 0px 3px 7px;
}
.g-user-profile-img-small {
	-webkit-width: 50px;
	-moz-width: 50px;
	-ms-width: 50px;
	-o-width: 50px;
	width: 50px;
	-webkit-height: 50px;
	-moz-height: 50px;
	-ms-height: 50px;
	-o-height: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-margin: 1em 0 0 0.5em;
	-moz-margin: 1em 0 0 0.5em;
	-ms-margin: 1em 0 0 0.5em;
	-o-margin: 1em 0 0 0.5em;
	margin: 1em 0 0 0.5em;
}
.g-flower-border {
	-webkit-border-right: 1px solid #f18336;
	-moz-border-right: 1px solid #f18336;
	-ms-border-right: 1px solid #f18336;
	-o-border-right: 1px solid #f18336;
	border-right: 1px solid #f18336;
	-webkit-height: 100%;
	-moz-height: 100%;
	-ms-height: 100%;
	-o-height: 100%;
	height: 100%;
}
.g-follwer-bottom {
	-webkit-border-bottom: 1px solid #f18336;
	-moz-border-bottom: 1px solid #f18336;
	-ms-border-bottom: 1px solid #f18336;
	-o-border-bottom: 1px solid #f18336;
	border-bottom: 1px solid #f18336;
	-webkit-margin: 10px auto;
	-moz-margin: 10px auto;
	-ms-margin: 10px auto;
	-o-margin: 10px auto;
	margin: 10px auto;
	-webkit-padding-bottom: 5px;
	-moz-padding-bottom: 5px;
	-ms-padding-bottom: 5px;
	-o-padding-bottom: 5px;
	padding-bottom: 5px;
}
.g-flower-list-item {
	-webkit-margin: 8px auto;
	-moz-margin: 8px auto;
	-ms-margin: 8px auto;
	-o-margin: 8px auto;
	margin: 8px auto;
}
.g-msg-count {
	-webkit-background-color: #f18336;
	-moz-background-color: #f18336;
	-ms-background-color: #f18336;
	-o-background-color: #f18336;
	background-color: #f18336;
	-webkit-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-padding: 0px 9px;
	-moz-padding: 0px 9px;
	-ms-padding: 0px 9px;
	-o-padding: 0px 9px;
	padding: 0px 9px;
	-webkit-float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	float: right;
	-webkit-margin-right: 1em;
	-moz-margin-right: 1em;
	-ms-margin-right: 1em;
	-o-margin-right: 1em;
	margin-right: 1em;
}
.g-flower-name {
	-webkit-margin-left: 5px;
	-moz-margin-left: 5px;
	-ms-margin-left: 5px;
	-o-margin-left: 5px;
	margin-left: 5px;
}
.g-img-40px {
	-webkit-margin: auto 5px;
	-moz-margin: auto 5px;
	-ms-margin: auto 5px;
	-o-margin: auto 5px;
	margin: auto 5px;
	-webkit-width: 40px;
	-moz-width: 40px;
	-ms-width: 40px;
	-o-width: 40px;
	width: 40px;
	-webkit-height: 40px;
	-moz-height: 40px;
	-ms-height: 40px;
	-o-height: 40px;
	height: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-border: 2px solid #00bcd4;
	-moz-border: 2px solid #00bcd4;
	-ms-border: 2px solid #00bcd4;
	-o-border: 2px solid #00bcd4;
	border: 2px solid #00bcd4;
}
.g-padding0 {
	-webkit-padding: 0rem;
	-moz-padding: 0rem;
	-ms-padding: 0rem;
	-o-padding: 0rem;
	padding: 0rem;
}
.g-margin-b0 {
	-webkit-margin-bottom: 0px;
	-moz-margin-bottom: 0px;
	-ms-margin-bottom: 0px;
	-o-margin-bottom: 0px;
	margin-bottom: 0px;
}
.g-margin-b8 {
	-webkit-margin-bottom: 8px;
	-moz-margin-bottom: 8px;
	-ms-margin-bottom: 8px;
	-o-margin-bottom: 8px;
	margin-bottom: 8px;
}
.g-pstyle {
	-webkit-margin: 0 1em 0.25em auto;
	-moz-margin: 0 1em 0.25em auto;
	-ms-margin: 0 1em 0.25em auto;
	-o-margin: 0 1em 0.25em auto;
	margin: 0 1em 0.25em auto;
}
.g-follower-search {
	-webkit-margin: 10px auto;
	-moz-margin: 10px auto;
	-ms-margin: 10px auto;
	-o-margin: 10px auto;
	margin: 10px auto;
}

.g-chat-img {
	-webkit-margin: auto 2em auto 5px;
	-moz-margin: auto 2em auto 5px;
	-ms-margin: auto 2em auto 5px;
	-o-margin: auto 2em auto 5px;
	margin: auto 2em auto 5px;
	-webkit-width: 50px;
	-moz-width: 50px;
	-ms-width: 50px;
	-o-width: 50px;
	width: 50px;
	-webkit-height: 50px;
	-moz-height: 50px;
	-ms-height: 50px;
	-o-height: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border: 2px solid #00bcd4;
	-moz-border: 2px solid #00bcd4;
	-ms-border: 2px solid #00bcd4;
	-o-border: 2px solid #00bcd4;
	border: 2px solid #00bcd4;
	-webkit-float: left;
	-moz-float: left;
	-ms-float: left;
	-o-float: left;
	float: left;
}

.g-chat-float-right {
	-webkit-margin: auto 5px auto 1.5em;
	-moz-margin: auto 5px auto 1.5em;
	-ms-margin: auto 5px auto 1.5em;
	-o-margin: auto 5px auto 1.5em;
	margin: auto 5px auto 1.5em;
	-webkit-width: 50px;
	-moz-width: 50px;
	-ms-width: 50px;
	-o-width: 50px;
	width: 50px;
	-webkit-height: 50px;
	-moz-height: 50px;
	-ms-height: 50px;
	-o-height: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border: 2px solid #00bcd4;
	-moz-border: 2px solid #00bcd4;
	-ms-border: 2px solid #00bcd4;
	-o-border: 2px solid #00bcd4;
	border: 2px solid #00bcd4;
	-webkit-float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	float: right;
}
.bubble-owner {
	-webkit-position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	position: relative;
	-webkit-max-width: 88%;
	-moz-max-width: 88%;
	-ms-max-width: 88%;
	-o-max-width: 88%;
	max-width: 88%;
	padding: 5px;
	font-family: arial;
	-webkit-margin: 4px 10px 4px 0px;
	-moz-margin: 4px 10px 4px 0px;
	-ms-margin: 4px 10px 4px 0px;
	-o-margin: 4px 10px 4px 0px;
	margin: 4px 10px 4px 0px;
	-webkit-background: #fff;
	-moz-background: #fff;
	-ms-background: #fff;
	-o-background: #fff;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border:#f18336 solid 2px;
	-moz-border: #f18336 solid 2px;
	-ms-border: #f18336 solid 2px;
	-o-border: #f18336 solid 2px;
	border: #f18336 solid 2px;
	-webkit-float: left;
	-moz-float: left;
	-ms-float: left;
	-o-float: left;
	float: left;
}

.bubble-owner:after {
	content: "";
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ms-border-style: solid;
	-o-border-style: solid;
	border-style: solid;
	-webkit-border-width: 8px 15px 8px 0;
	-moz-border-width: 8px 15px 8px 0;
	-ms-border-width: 8px 15px 8px 0;
	-o-border-width: 8px 15px 8px 0;
	border-width: 8px 15px 8px 0;
	-webkit-border-color: transparent #fff;
	-moz-border-color: transparent #fff;
	-ms-border-color: transparent #fff;
	-o-border-color: transparent #fff;
	border-color: transparent #fff;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-width: 0;
	-moz-width: 0;
	-ms-width: 0;
	-o-width: 0;
	width: 0;
	-webkit-z-index: 1;
	-moz-z-index: 1;
	-ms-z-index: 1;
	-o-z-index: 1;
	z-index: 1;
	-webkit-left: -15px;
	-moz-left: -15px;
	-ms-left: -15px;
	-o-left: -15px;
	left: -15px;
	-webkit-top: 13px;
	-moz-top: 13px;
	-ms-top: 13px;
	-o-top: 13px;
	top: 13px;
}

.bubble-owner:before {
	content: "";
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ms-border-style: solid;
	-o-border-style: solid;
	border-style: solid;
	-webkit-border-width: 9px 16px 9px 0;
	-moz-border-width: 9px 16px 9px 0;
	-ms-border-width: 9px 16px 9px 0;
	-o-border-width: 9px 16px 9px 0;
	border-width: 9px 16px 9px 0;
	-webkit-border-color: transparent #f18336;
	-moz-border-color: transparent #f18336;
	-ms-border-color: transparent #f18336;
	-o-border-color: transparent #f18336;
	border-color: transparent #f18336;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-width: 0;
	-moz-width: 0;
	-ms-width: 0;
	-o-width: 0;
	width: 0;
	-webkit-z-index: 0;
	-moz-z-index: 0;
	-ms-z-index: 0;
	-o-z-index: 0;
	z-index: 0;
	-webkit-left: -18px;
	-moz-left: -18px;
	-ms-left: -18px;
	-o-left: -18px;
	left: -18px;
	-webkit-top: 12px;
	-moz-top: 12px;
	-ms-top: 12px;
	-o-top: 12px;
	top: 12px;
}

.bubble-user {
	-webkit-position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	position: relative;
	-webkit-padding: 5px;
	-moz-padding: 5px;
	-ms-padding: 5px;
	-o-padding: 5px;
	padding: 5px;
	-webkit-max-width: 88%;
	-moz-max-width: 88%;
	-ms-max-width: 88%;
	-o-max-width: 88%;
	max-width: 88%;
	font-family: arial;
	-webkit-margin: 4px 8px;
	-moz-margin: 4px 8px;
	-ms-margin: 4px 8px;
	-o-margin: 4px 8px;
	margin: 4px 8px;
	font-size: 14px;
	-webkit-background: #fff;
	-moz-background: #fff;
	-ms-background: #fff;
	-o-background: #fff;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #f18336 solid 2px;
	-webkit-float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	float: right;
}

.bubble-user:after {
	content: "";
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ms-border-style: solid;
	-o-border-style: solid;
	border-style: solid;
	-webkit-border-width: 8px 0 8px 15px;
	-moz-border-width: 8px 0 8px 15px;
	-ms-border-width: 8px 0 8px 15px;
	-o-border-width: 8px 0 8px 15px;
	border-width: 8px 0 8px 15px;
	-webkit-border-color:  transparent #fff;
	-moz-border-color: transparent #fff;
	-ms-border-color: transparent #fff;
	-o-border-color: transparent #fff;
	border-color: transparent #fff;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-width: 0;
	-moz-width: 0;
	-ms-width: 0;
	-o-width: 0;
	width: 0;
	-webkit-right: -15px;
	-moz-right: -15px;
	-ms-right: -15px;
	-o-right: -15px;
	right: -15px;
	-webkit-top: 13px;
	-moz-top: 13px;
	-ms-top: 13px;
	-o-top: 13px;
	top: 13px;
	-webkit-z-index: 1;
	-moz-z-index: 1;
	-ms-z-index: 1;
	-o-z-index: 1;
	z-index: 1;
}

.bubble-user:before {
	content: "";
	-webkit-position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	position: absolute;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ms-border-style: solid;
	-o-border-style: solid;
	border-style: solid;
	-webkit-border-width: 9px 0 9px 16px;
	-moz-border-width: 9px 0 9px 16px;
	-ms-border-width: 9px 0 9px 16px;
	-o-border-width: 9px 0 9px 16px;
	border-width: 9px 0 9px 16px;
	-webkit-border-color: transparent #f18336;
	-moz-border-color: transparent #f18336;
	-ms-border-color: transparent #f18336;
	-o-border-color: transparent #f18336;
	border-color: transparent #f18336;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-width: 0;
	-moz-width: 0;
	-ms-width: 0;
	-o-width: 0;
	width: 0;
	-webkit-right: -18px;
	-moz-right: -18px;
	-ms-right: -18px;
	-o-right: -18px;
	right: -18px;
	-webkit-top: 12px;
	-moz-top: 12px;
	-ms-top: 12px;
	-o-top: 12px;
	top: 12px;
	-webkit-z-index: 0;
	-moz-z-index: 0;
	-ms-z-index: 0;
	-o-z-index: 0;
	z-index: 0;
}

.g-chatbox {
	-webkit-border-top: 1px solid #f18336;
	-moz-border-top: 1px solid #f18336;
	-ms-border-top: 1px solid #f18336;
	-o-border-top: 1px solid #f18336;
	border-top: 1px solid #f18336;
	-webkit-margin: 11px auto;
	-moz-margin: 11px auto;
	-ms-margin: 11px auto;
	-o-margin: 11px auto;
	margin: 11px auto;
	-webkit-padding-top: 10px;
	-moz-padding-top: 10px;
	-ms-padding-top: 10px;
	-o-padding-top: 10px;
	padding-top: 10px;
}

.g-chat-block {
	-webkit-height: 550px;
	-moz-height: 550px;
	-ms-height: 550px;
	-o-height: 550px;
	height: 550px;
}
.g-height-500 {
	-webkit-height: 455px;
	-moz-height: 455px;
	-ms-height: 455px;
	-o-height: 455px;
	height: 455px;
}
.ant-menu-inline {
	-webkit-height: 345px;
	-moz-height: 345px;
	-ms-height: 345px;
	-o-height: 345px;
	height: 345px;
}
.g-disable {
	-webkit-cursor: not-allowed;
	-moz-cursor: not-allowed;
	-ms-cursor: not-allowed;
	-o-cursor: not-allowed;
	cursor: not-allowed;
}
a:-webkit-any-link {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}
.g-margin-l15 {
	-webkit-margin-left: 15px;
	-moz-margin-left: 15px;
	-ms-margin-left: 15px;
	-o-margin-left: 15px;
	margin-left: 15px;
}
.g-margin-l15em {
	-webkit-margin-left: 1.5em;
	-moz-margin-left: 1.5em;
	-ms-margin-left: 1.5em;
	-o-margin-left: 1.5em;
	margin-left: 1.5em;
}
.g-margin-l5em {
	-webkit-margin-left: 0.5em;
	-moz-margin-left: 0.5em;
	-ms-margin-left: 0.5em;
	-o-margin-left: 0.5em;
	margin-left: 0.5em;
}
.g-span-label {
	-webkit-line-height: 25px;
	-moz-line-height: 25px;
	-ms-line-height: 25px;
	-o-line-height: 25px;
	line-height: 25px;
	-webkit-color: black;
	-moz-color: black;
	-ms-color: black;
	-o-color: black;
	color: black;
	-webkit-font-size: 14px;
	-moz-font-size: 14px;
	-ms-font-size: 14px;
	-o-font-size: 14px;
	font-size: 14px;
	-webkit-margin-left: 3px;
	-moz-margin-left: 3px;
	-ms-margin-left: 3px;
	-o-margin-left: 3px;
	margin-left: 3px;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
}
.g-display-side {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}
.g-label {
	-webkit-color: black;
	-moz-color: black;
	-ms-color: black;
	-o-color: black;
	color: black;
	-webkit-font-size: 14px;
	-moz-font-size: 14px;
	-ms-font-size: 14px;
	-o-font-size: 14px;
	font-size: 14px;
	-webkit-margin: 3px;
	-moz-margin: 3px;
	-ms-margin: 3px;
	-o-margin: 3px;
	margin: 3px;
}
.g-sidebar-l {
	-webkit-float: left;
	-moz-float: left;
	-ms-float: left;
	-o-float: left;
	float: left;
	-webkit-width: 20%;
	-moz-width: 20%;
	-ms-width: 20%;
	-o-width: 20%;
	width: 20%;
	-webkit-overflow: hidden;
	-moz-overflow: hidden;
	-ms-overflow: hidden;
	-o-overflow: hidden;
	overflow: hidden;
}
.g-sidebar-r {
	-webkit-float: left;
	-moz-float: left;
	-ms-float: left;
	-o-float: left;
	float: left;
	-webkit-width: 79%;
	-moz-width: 79%;
	-ms-width: 79%;
	-o-width: 79%;
	width: 79%;
	-webkit-overflow: hidden;
	-moz-overflow: hidden;
	-ms-overflow: hidden;
	-o-overflow: hidden;
	overflow: hidden;
}
.trigger {
	-webkit-font-size: 18px;
	-moz-font-size: 18px;
	-ms-font-size: 18px;
	-o-font-size: 18px;
	font-size: 18px;
	-webkit-line-height: 64px;
	-moz-line-height: 64px;
	-ms-line-height: 64px;
	-o-line-height: 64px;
	line-height: 64px;
	-webkit-padding: 0 24px;
	-moz-padding: 0 24px;
	-ms-padding: 0 24px;
	-o-padding: 0 24px;
	padding: 0 24px;
	-webkit-cursor: pointer;
	-moz-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
	cursor: pointer;
	transition: color 0.3s;
	-o-transition: color 0.3s;
}

.trigger:hover {
	-webkit-color: #1890ff;
	-moz-color: #1890ff;
	-ms-color: #1890ff;
	-o-color: #1890ff;
	color: #1890ff;
}

.ant-layout-sider {
	-webkit-background-color: #fff;
	-moz-background-color: #fff;
	-ms-background-color: #fff;
	-o-background-color: #fff;
	background-color: #fff;
}
.g-text-center {
	-webkit-text-align: center;
	-moz-text-align: center;
	-ms-text-align: center;
	-o-text-align: center;
	text-align: center;
}
.g-collapse-small {
	-webkit-margin-left: 80px;
	-moz-margin-left: 80px;
	-ms-margin-left: 80px;
	-o-margin-left: 80px;
	margin-left: 80px;
}
.g-collapse-large {
	-webkit-margin-left: 200px;
	-moz-margin-left: 200px;
	-ms-margin-left: 200px;
	-o-margin-left: 200px;
	margin-left: 200px;
}
.g-fieldset {
	-webkit-border: 1px dotted #ccc;
	-moz-border: 1px dotted #ccc;
	-ms-border: 1px dotted #ccc;
	-o-border: 1px dotted #ccc;
	border: 1px dotted #ccc;
	-webkit-border-bottom: none;
	-moz-border-bottom: none;
	-ms-border-bottom: none;
	-o-border-bottom: none;
	border-bottom: none;
}
.g-legend {
	-webkit-width: 0%;
	-moz-width: 0%;
	-ms-width: 0%;
	-o-width: 0%;
	width: 0%;
}
.g-legend-img {
	-webkit-margin: auto 5px;
	-moz-margin: auto 5px;
	-ms-margin: auto 5px;
	-o-margin: auto 5px;
	margin: auto 5px;
	-webkit-width: 70px;
	-moz-width: 70px;
	-ms-width: 70px;
	-o-width: 70px;
	width: 70px;
	-webkit-height: 70px;
	-moz-height: 70px;
	-ms-height: 70px;
	-o-height: 70px;
	height: 70px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	-webkit-border: 2px solid #00bcd4;
	-moz-border: 2px solid #00bcd4;
	-ms-border: 2px solid #00bcd4;
	-o-border: 2px solid #00bcd4;
	border: 2px solid #00bcd4;
}
.g-img-legend {
	-webkit-display: inline-flex;
	-moz-display: inline-flex;
	-ms-display: inline-flex;
	-o-display: inline-flex;
	display: inline-flex;
}

.logo {
	-webkit-height: 175px;
	-moz-height: 175px;
	-ms-height: 175px;
	-o-height: 175px;
	height: 175px;
	-webkit-margin-left: 3em;
	-moz-margin-left: 3em;
	-ms-margin-left: 3em;
	-o-margin-left: 3em;
	margin-left: 3em;
}

.logo-small {
	-webkit-height: 110px;
	-moz-height: 110px;
	-ms-height: 110px;
	-o-height: 110px;
	-webkit-height: 110px;
	-moz-height: 110px;
	-ms-height: 110px;
	-o-height: 110px;
	height: 110px;
}

#logo .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	-webkit-width: 120px;
	-moz-width: 120px;
	-ms-width: 120px;
	-o-width: 120px;
	width: 120px;
	-webkit-height: 120px;
	-moz-height: 120px;
	-ms-height: 120px;
	-o-height: 120px;
	height: 120px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	margin: auto;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	-o-align-content: center;
	align-content: center;
	-webkit-border:   none;
	-moz-border:   none;
	-ms-border:   none;
	-o-border:   none;
	border:   none;
}
#logo .clearfix .ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
#logo
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	display: block;
	width: 100px;
	-webkit-height: 100px;
	-moz-height: 100px;
	-ms-height: 100px;
	-o-height: 100px;
	height: 100px;
	position: static;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#logo
	.clearfix
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#logo
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	background: transparent;
	width: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-height: 100px;
	-moz-height: 100px;
	-ms-height: 100px;
	-o-height: 100px;
	height: 100px;
}

#logo .clearfix-small .ant-upload-list-picture-card .ant-upload-list-item {
	width: 70px;
	-webkit-height: 70px;
	-moz-height: 70px;
	-ms-height: 70px;
	-o-height: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	-ms-flex-line-pack: center;
	align-content: center;
	border: none;
}
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail,
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	display: block;
	width: 50px;
	-webkit-height: 50px;
	-moz-height: 50px;
	-ms-height: 50px;
	-o-height: 50px;
	height: 50px;
	position: static;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#logo
	.clearfix-small
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#logo
	.clearfix-small
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	background: transparent;
	width: 50px;
	border-radius: 50%;
	-webkit-height: 50px;
	-moz-height: 50px;
	-ms-height: 50px;
	-o-height: 50px;
	height: 50px;
}

#createTrip .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-height: 450px;
	-moz-height: 450px;
	-ms-height: 450px;
	-o-height: 450px;
	height: 450px;
	-webkit-margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	margin: auto;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-border: none;
	-moz-border: none;
	-ms-border: none;
	-o-border: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail,
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item-thumbnail
	img {
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-height: 450px;
	-moz-height: 450px;
	-ms-height: 450px;
	-o-height: 450px;
	height: 450px;
	-webkit-position: static;
	-moz-position: static;
	-ms-position: static;
	-o-position: static;
	position: static;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#createTrip
	.clearfix
	.ant-upload-list-picture
	.ant-upload-list-item:hover
	.ant-upload-list-item-info,
#createTrip
	.clearfix
	.ant-upload-list-picture-card
	.ant-upload-list-item:hover
	.ant-upload-list-item-info:before {
	-webkit-background: transparent;
	-moz-background: transparent;
	-ms-background: transparent;
	-o-background: transparent;
	background: transparent;
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-height: 450px;
	-moz-height: 450px;
	-ms-height: 450px;
	-o-height: 450px;
	height: 450px;
}

.g-floatting-btn {
	-webkit-margin: 0px;
	-moz-margin: 0px;
	-ms-margin: 0px;
	-o-margin: 0px;
	margin: 0px;
	-webkit-top: auto;
	-moz-top: auto;
	-ms-top: auto;
	-o-top: auto;
	top: auto;
	-webkit-left: auto;
	-moz-left: auto;
	-ms-left: auto;
	-o-left: auto;
	left: auto;
	-webkit-position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	position: fixed;
	-webkit-bottom: 297px;
	-moz-bottom: 297px;
	-ms-bottom: 297px;
	-o-bottom: 297px;
	bottom: 297px;
	-webkit-right: 318px;
	-moz-right: 318px;
	-ms-right: 318px;
	-o-right: 318px;
	right: 318px;
	-webkit-z-index: 300;
	-moz-z-index: 300;
	-ms-z-index: 300;
	-o-z-index: 300;
	z-index: 300;
}
.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o,
.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-cursor: pointer;
	-moz-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
	cursor: pointer;
	-webkit-font-size: 20px;
	-moz-font-size: 20px;
	-ms-font-size: 20px;
	-o-font-size: 20px;
	font-size: 20px;
	-webkit-width: 16px;
	-moz-width: 16px;
	-ms-width: 16px;
	-o-width: 16px;
	width: 16px;
	-webkit-color: #f44336;
	-moz-color: #f44336;
	-ms-color: #f44336;
	-o-color: #f44336;
	color: #f44336;
	-webkit-margin: 0 4px;
	-moz-margin: 0 4px;
	-ms-margin: 0 4px;
	-o-margin: 0 4px;
	margin: 0 4px;
	-webkit-z-index: 30;
	-moz-z-index: 30;
	-ms-z-index: 30;
	-o-z-index: 30;
	z-index: 30;
}
.g-preview-img {
	-webkit-max-height: 100%;
	-moz-max-height: 100%;
	-ms-max-height: 100%;
	-o-max-height: 100%;
	max-height: 100%;
	-webkit-margin-left: auto;
	-moz-margin-left: auto;
	-ms-margin-left: auto;
	-o-margin-left: auto;
	margin-left: auto;
	-webkit-margin-right: auto;
	-moz-margin-right: auto;
	-ms-margin-right: auto;
	-o-margin-right: auto;
	margin-right: auto;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
	-webkit-max-width: 100%;
	-moz-max-width: 100%;
	-ms-max-width: 100%;
	-o-max-width: 100%;
	max-width: 100%;
}
.g-trip-imgs {
	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;
	-webkit-max-height: 100%;
	-moz-max-height: 100%;
	-ms-max-height: 100%;
	-o-max-height: 100%;
	max-height: 100%;
	-webkit-margin-left: auto;
	-moz-margin-left: auto;
	-ms-margin-left: auto;
	-o-margin-left: auto;
	margin-left: auto;
	-webkit-margin-right: auto;
	-moz-margin-right: auto;
	-ms-margin-right: auto;
	-o-margin-right: auto;
	margin-right: auto;
	-webkit-display: block;
	-moz-display: block;
	-ms-display: block;
	-o-display: block;
	display: block;
}
.g-margin-t13{
	-webkit-margin-top: 1.3em;
	-moz-margin-top: 1.3em;
	-ms-margin-top: 1.3em;
	-o-margin-top: 1.3em;
	margin-top: 1.3em;
}
